<a href="https://colab.research.google.com/github/krGaurav310/AllColabProjects/blob/master/DataCleaningProject.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
!pip install kaggle

Requirement already satisfied: kaggle in /usr/local/lib/python3.6/dist-packages (1.5.6)
Requirement already satisfied: python-slugify in /usr/local/lib/python3.6/dist-packages (from kaggle) (4.0.1)
Requirement already satisfied: requests in /usr/local/lib/python3.6/dist-packages (from kaggle) (2.23.0)
Requirement already satisfied: urllib3<1.25,>=1.21.1 in /usr/local/lib/python3.6/dist-packages (from kaggle) (1.24.3)
Requirement already satisfied: certifi in /usr/local/lib/python3.6/dist-packages (from kaggle) (2020.6.20)
Requirement already satisfied: tqdm in /usr/local/lib/python3.6/dist-packages (from kaggle) (4.41.1)
Requirement already satisfied: python-dateutil in /usr/local/lib/python3.6/dist-packages (from kaggle) (2.8.1)
Requirement already satisfied: six>=1.10 in /usr/local/lib/python3.6/dist-packages (from kaggle) (1.12.0)
Requirement already satisfied: text-unidecode>=1.3 in /usr/local/lib/python3.6/dist-packages (from python-slugify->kaggle) (1.3)
Requirement already satisfied: idna<3,>=2.5 in /usr/local/lib/python3.6/dist-packages (from requests->kaggle) (2.10)
Requirement already satisfied: chardet<4,>=3.0.2 in /usr/local/lib/python3.6/dist-packages (from requests->kaggle) (3.0.4)

In [2]:
from google.colab import files
files.upload()

Saving kaggle.json to kaggle.json

{'kaggle.json': b'{"username":"kumargaurav310","key":"ec76d65ed7c779b52f6de1d6bdb07e7f"}'}

In [3]:
!mkdir -p ~/.kaggle #code to manage folders and all
!cp kaggle.json ~/.kaggle/

!chmod 600 ~/.kaggle/kaggle.json

In [8]:
!kaggle datasets download -d maxhorowitz/nflplaybyplay2009to2016

Downloading nflplaybyplay2009to2016.zip to /content
 97% 265M/274M [00:02<00:00, 134MB/s]
100% 274M/274M [00:02<00:00, 114MB/s]

In [7]:
#!kaggle datasets download -d kaggle datasets download -d maxhorowitz/nflplaybyplay2009to2016

In [10]:
from zipfile import ZipFile

In [11]:
#from zipfile import ZipFile
file_name = "nflplaybyplay2009to2016.zip"

with ZipFile(file_name, 'r') as zip:
  zip.extractall()
  print("Done")

Done

In [12]:
import pandas as pd

In [21]:
nfl_data  = pd.read_csv("/content/NFL Play by Play 2009-2017 (v4).csv")

/usr/local/lib/python3.6/dist-packages/IPython/core/interactiveshell.py:2718: DtypeWarning: Columns (25,51) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [22]:
nfl_data.columns

Index(['Date', 'GameID', 'Drive', 'qtr', 'down', 'time', 'TimeUnder',
       'TimeSecs', 'PlayTimeDiff', 'SideofField',
       ...
       'yacEPA', 'Home_WP_pre', 'Away_WP_pre', 'Home_WP_post', 'Away_WP_post',
       'Win_Prob', 'WPA', 'airWPA', 'yacWPA', 'Season'],
      dtype='object', length=102)

In [18]:
#mdata = pd.read_csv("metadata.csv")

In [19]:
#mdata.info()

In [37]:
nfl_data.head(5)

         Date      GameID  Drive  qtr  ...       WPA    airWPA    yacWPA  Season
0  2009-09-10  2009091000      1    1  ...  0.060758       NaN       NaN    2009
1  2009-09-10  2009091000      1    1  ...  0.004655 -0.032244  0.036899    2009
2  2009-09-10  2009091000      1    1  ... -0.040295       NaN       NaN    2009
3  2009-09-10  2009091000      1    1  ... -0.049576  0.106663 -0.156239    2009
4  2009-09-10  2009091000      1    1  ...  0.097712       NaN       NaN    2009

[5 rows x 102 columns]

In [27]:
missing_values_count = nfl_data.isnull().sum()

In [28]:
missing_values_count

Date             0
GameID           0
Drive            0
qtr              0
down         61154
             ...
Win_Prob     25009
WPA           5541
airWPA      248501
yacWPA      248762
Season           0
Length: 102, dtype: int64

In [32]:
missing_values_count[0:10]

Date                0
GameID              0
Drive               0
qtr                 0
down            61154
time              224
TimeUnder           0
TimeSecs          224
PlayTimeDiff      444
SideofField       528
dtype: int64

In [34]:
import numpy as np

In [40]:
total_cells = np.product(nfl_data.shape)

In [41]:
total_missing = missing_values_count.sum()

In [42]:
(total_missing/total_cells) * 100

24.87214126835169

In [43]:
nfl_data.dropna()

Empty DataFrame
Columns: [Date, GameID, Drive, qtr, down, time, TimeUnder, TimeSecs, PlayTimeDiff, SideofField, yrdln, yrdline100, ydstogo, ydsnet, GoalToGo, FirstDown, posteam, DefensiveTeam, desc, PlayAttempted, Yards.Gained, sp, Touchdown, ExPointResult, TwoPointConv, DefTwoPoint, Safety, Onsidekick, PuntResult, PlayType, Passer, Passer_ID, PassAttempt, PassOutcome, PassLength, AirYards, YardsAfterCatch, QBHit, PassLocation, InterceptionThrown, Interceptor, Rusher, Rusher_ID, RushAttempt, RunLocation, RunGap, Receiver, Receiver_ID, Reception, ReturnResult, Returner, BlockingPlayer, Tackler1, Tackler2, FieldGoalResult, FieldGoalDistance, Fumble, RecFumbTeam, RecFumbPlayer, Sack, Challenge.Replay, ChalReplayResult, Accepted.Penalty, PenalizedTeam, PenaltyType, PenalizedPlayer, Penalty.Yards, PosTeamScore, DefTeamScore, ScoreDiff, AbsScoreDiff, HomeTeam, AwayTeam, Timeout_Indicator, Timeout_Team, posteam_timeouts_pre, HomeTimeouts_Remaining_Pre, AwayTimeouts_Remaining_Pre, HomeTimeouts_Remaining_Post, AwayTimeouts_Remaining_Post, No_Score_Prob, Opp_Field_Goal_Prob, Opp_Safety_Prob, Opp_Touchdown_Prob, Field_Goal_Prob, Safety_Prob, Touchdown_Prob, ExPoint_Prob, TwoPoint_Prob, ExpPts, EPA, airEPA, yacEPA, Home_WP_pre, Away_WP_pre, Home_WP_post, Away_WP_post, Win_Prob, WPA, airWPA, ...]
Index: []

[0 rows x 102 columns]

In [44]:
# remove all columns with at least one missing value
columns_with_na_dropped = nfl_data.dropna(axis = 1)

In [45]:
columns_with_na_dropped.head()

         Date      GameID  Drive  ...  ExPoint_Prob  TwoPoint_Prob  Season
0  2009-09-10  2009091000      1  ...           0.0            0.0    2009
1  2009-09-10  2009091000      1  ...           0.0            0.0    2009
2  2009-09-10  2009091000      1  ...           0.0            0.0    2009
3  2009-09-10  2009091000      1  ...           0.0            0.0    2009
4  2009-09-10  2009091000      1  ...           0.0            0.0    2009

[5 rows x 41 columns]

In [46]:
# just how much data did we lose?
print("Columns in original dataset: %d \n" % nfl_data.shape[1])
print("Columns with na's dropped: %d" % columns_with_na_dropped.shape[1])

Columns in original dataset: 102

Columns with na's dropped: 41

In [54]:
# get a small subset of the NFL dataset
subset_nfl_data = nfl_data.loc[:, 'EPA':'Season'].head()
subset_nfl_data

        EPA    airEPA    yacEPA  ...    airWPA    yacWPA  Season
0  2.014474       NaN       NaN  ...       NaN       NaN    2009
1  0.077907 -1.068169  1.146076  ... -0.032244  0.036899    2009
2 -1.402760       NaN       NaN  ...       NaN       NaN    2009
3 -1.712583  3.318841 -5.031425  ...  0.106663 -0.156239    2009
4  2.097796       NaN       NaN  ...       NaN       NaN    2009

[5 rows x 12 columns]

In [53]:
subset_nfl_data1 = nfl_data.iloc[:,:12].head()
subset_nfl_data1

         Date      GameID  Drive  ...  SideofField  yrdln yrdline100
0  2009-09-10  2009091000      1  ...          TEN   30.0       30.0
1  2009-09-10  2009091000      1  ...          PIT   42.0       58.0
2  2009-09-10  2009091000      1  ...          PIT   47.0       53.0
3  2009-09-10  2009091000      1  ...          PIT   44.0       56.0
4  2009-09-10  2009091000      1  ...          PIT   44.0       56.0

[5 rows x 12 columns]

In [56]:
subset_nfl_data

        EPA    airEPA    yacEPA  ...    airWPA    yacWPA  Season
0  2.014474       NaN       NaN  ...       NaN       NaN    2009
1  0.077907 -1.068169  1.146076  ... -0.032244  0.036899    2009
2 -1.402760       NaN       NaN  ...       NaN       NaN    2009
3 -1.712583  3.318841 -5.031425  ...  0.106663 -0.156239    2009
4  2.097796       NaN       NaN  ...       NaN       NaN    2009

[5 rows x 12 columns]

In [60]:
subset_nfl_data.fillna(method = 'bfill', axis=0).fillna(0).head(10)

        EPA    airEPA    yacEPA  ...    airWPA    yacWPA  Season
0  2.014474 -1.068169  1.146076  ... -0.032244  0.036899    2009
1  0.077907 -1.068169  1.146076  ... -0.032244  0.036899    2009
2 -1.402760  3.318841 -5.031425  ...  0.106663 -0.156239    2009
3 -1.712583  3.318841 -5.031425  ...  0.106663 -0.156239    2009
4  2.097796  0.000000  0.000000  ...  0.000000  0.000000    2009

[5 rows x 12 columns]